{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://apigateway.amazonaws.com/"
        },
        {
            "url": "http://apigateway.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon API Gateway V2",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AmazonApiGatewayV2",
        "version": "2018-11-29",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/apigatewayv2-2018-11-29.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "apigatewayv2"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/apigateway/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/v2/apis": {
            "get": {
                "description": "Gets a collection of Api resources.",
                "operationId": "GetApis",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Items": {
                                            "description": "The elements from this collection.",
                                            "items": {
                                                "description": "Represents an API.",
                                                "properties": {
                                                    "ApiEndpoint": {
                                                        "description": "The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The\n stage name is typically appended to this URI to form a complete path to a deployed\n API stage.",
                                                        "type": "string"
                                                    },
                                                    "ApiId": {
                                                        "description": "The API ID.",
                                                        "type": "string"
                                                    },
                                                    "ApiKeySelectionExpression": {
                                                        "description": "An API key selection expression. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.",
                                                        "type": "string"
                                                    },
                                                    "CreatedDate": {
                                                        "description": "The timestamp when the API was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "The description of the API.",
                                                        "type": "string"
                                                    },
                                                    "DisableSchemaValidation": {
                                                        "description": "Avoid validating models when creating a deployment.",
                                                        "type": "boolean"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the API.",
                                                        "type": "string"
                                                    },
                                                    "ProtocolType": {
                                                        "description": "The API protocol: Currently only WEBSOCKET is supported.",
                                                        "enum": [
                                                            "WEBSOCKET"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "RouteSelectionExpression": {
                                                        "description": "The route selection expression for the API.",
                                                        "type": "string"
                                                    },
                                                    "Version": {
                                                        "description": "A version identifier for the API.",
                                                        "type": "string"
                                                    },
                                                    "Warnings": {
                                                        "description": "The warning messages reported when failonwarnings is turned on during\n API import.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "RouteSelectionExpression",
                                                    "ProtocolType",
                                                    "Name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The next page of elements from this collection. Not valid for the last element of\n the collection.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an Api resource.",
                "operationId": "CreateApi",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApiEndpoint": {
                                            "description": "The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The\n stage name is typically appended to this URI to form a complete path to a deployed\n API stage.",
                                            "type": "string"
                                        },
                                        "ApiId": {
                                            "description": "The API ID.",
                                            "type": "string"
                                        },
                                        "ApiKeySelectionExpression": {
                                            "description": "An API key selection expression. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.",
                                            "type": "string"
                                        },
                                        "CreatedDate": {
                                            "description": "The timestamp when the API was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "The description of the API.",
                                            "type": "string"
                                        },
                                        "DisableSchemaValidation": {
                                            "description": "Avoid validating models when creating a deployment.",
                                            "type": "boolean"
                                        },
                                        "Name": {
                                            "description": "The name of the API.",
                                            "type": "string"
                                        },
                                        "ProtocolType": {
                                            "description": "The API protocol: Currently only WEBSOCKET is supported.",
                                            "enum": [
                                                "WEBSOCKET"
                                            ],
                                            "type": "string"
                                        },
                                        "RouteSelectionExpression": {
                                            "description": "The route selection expression for the API.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "A version identifier for the API.",
                                            "type": "string"
                                        },
                                        "Warnings": {
                                            "description": "The warning messages reported when failonwarnings is turned on during\n API import.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApiKeySelectionExpression": {
                                        "description": "An API key selection expression. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "The description of the API.",
                                        "type": "string"
                                    },
                                    "DisableSchemaValidation": {
                                        "description": "Avoid validating models when creating a deployment.",
                                        "type": "boolean"
                                    },
                                    "Name": {
                                        "description": "The name of the API.",
                                        "type": "string"
                                    },
                                    "ProtocolType": {
                                        "description": "The API protocol: Currently only WEBSOCKET is supported.",
                                        "enum": [
                                            "WEBSOCKET"
                                        ],
                                        "type": "string"
                                    },
                                    "RouteSelectionExpression": {
                                        "description": "The route selection expression for the API.",
                                        "type": "string"
                                    },
                                    "Version": {
                                        "description": "A version identifier for the API.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "RouteSelectionExpression",
                                    "ProtocolType",
                                    "Name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v2/apis/{apiId}": {
            "delete": {
                "description": "Deletes an Api resource.",
                "operationId": "DeleteApi",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Gets an Api resource.",
                "operationId": "GetApi",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApiEndpoint": {
                                            "description": "The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The\n stage name is typically appended to this URI to form a complete path to a deployed\n API stage.",
                                            "type": "string"
                                        },
                                        "ApiId": {
                                            "description": "The API ID.",
                                            "type": "string"
                                        },
                                        "ApiKeySelectionExpression": {
                                            "description": "An API key selection expression. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.",
                                            "type": "string"
                                        },
                                        "CreatedDate": {
                                            "description": "The timestamp when the API was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "The description of the API.",
                                            "type": "string"
                                        },
                                        "DisableSchemaValidation": {
                                            "description": "Avoid validating models when creating a deployment.",
                                            "type": "boolean"
                                        },
                                        "Name": {
                                            "description": "The name of the API.",
                                            "type": "string"
                                        },
                                        "ProtocolType": {
                                            "description": "The API protocol: Currently only WEBSOCKET is supported.",
                                            "enum": [
                                                "WEBSOCKET"
                                            ],
                                            "type": "string"
                                        },
                                        "RouteSelectionExpression": {
                                            "description": "The route selection expression for the API.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "A version identifier for the API.",
                                            "type": "string"
                                        },
                                        "Warnings": {
                                            "description": "The warning messages reported when failonwarnings is turned on during\n API import.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates an Api resource.",
                "operationId": "UpdateApi",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApiEndpoint": {
                                            "description": "The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The\n stage name is typically appended to this URI to form a complete path to a deployed\n API stage.",
                                            "type": "string"
                                        },
                                        "ApiId": {
                                            "description": "The API ID.",
                                            "type": "string"
                                        },
                                        "ApiKeySelectionExpression": {
                                            "description": "An API key selection expression. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.",
                                            "type": "string"
                                        },
                                        "CreatedDate": {
                                            "description": "The timestamp when the API was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "The description of the API.",
                                            "type": "string"
                                        },
                                        "DisableSchemaValidation": {
                                            "description": "Avoid validating models when creating a deployment.",
                                            "type": "boolean"
                                        },
                                        "Name": {
                                            "description": "The name of the API.",
                                            "type": "string"
                                        },
                                        "ProtocolType": {
                                            "description": "The API protocol: Currently only WEBSOCKET is supported.",
                                            "enum": [
                                                "WEBSOCKET"
                                            ],
                                            "type": "string"
                                        },
                                        "RouteSelectionExpression": {
                                            "description": "The route selection expression for the API.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "A version identifier for the API.",
                                            "type": "string"
                                        },
                                        "Warnings": {
                                            "description": "The warning messages reported when failonwarnings is turned on during\n API import.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApiKeySelectionExpression": {
                                        "description": "An API key selection expression. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "The description of the API.",
                                        "type": "string"
                                    },
                                    "DisableSchemaValidation": {
                                        "description": "Avoid validating models when creating a deployment.",
                                        "type": "boolean"
                                    },
                                    "Name": {
                                        "description": "The name of the API.",
                                        "type": "string"
                                    },
                                    "RouteSelectionExpression": {
                                        "description": "The route selection expression for the API.",
                                        "type": "string"
                                    },
                                    "Version": {
                                        "description": "A version identifier for the API.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v2/apis/{apiId}/authorizers": {
            "get": {
                "description": "Gets the Authorizers for an API.",
                "operationId": "GetAuthorizers",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Items": {
                                            "description": "The elements from this collection.",
                                            "items": {
                                                "description": "Represents an authorizer.",
                                                "properties": {
                                                    "AuthorizerCredentialsArn": {
                                                        "description": "Specifies the required credentials as an IAM role for API Gateway to invoke the\n authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon\n Resource Name (ARN). To use resource-based permissions on the Lambda function,\n specify null.",
                                                        "type": "string"
                                                    },
                                                    "AuthorizerId": {
                                                        "description": "The authorizer identifier.",
                                                        "type": "string"
                                                    },
                                                    "AuthorizerResultTtlInSeconds": {
                                                        "description": "The time to live (TTL), in seconds, of cached authorizer results. If it equals 0,\n authorization caching is disabled. If it is greater than 0, API Gateway will cache\n authorizer responses. If this field is not set, the default value is 300. The maximum\n value is 3600, or 1 hour.",
                                                        "maximum": 2147483647,
                                                        "minimum": -2147483648,
                                                        "type": "integer"
                                                    },
                                                    "AuthorizerType": {
                                                        "description": "The authorizer type. Currently the only valid value is REQUEST, for a\n Lambda function using incoming request parameters.",
                                                        "enum": [
                                                            "REQUEST"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "AuthorizerUri": {
                                                        "description": "The authorizer's Uniform Resource Identifier (URI).\n ForREQUEST authorizers, this must be a\n well-formed Lambda function URI, for example,\n arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations.\n In general, the URI has this form:\n arn:aws:apigateway:{region}:lambda:path/{service_api}\n , where {region} is the same as the region hosting the Lambda\n function, path indicates that the remaining substring in the URI should be treated as\n the path to the resource, including the initial /. For Lambda functions,\n this is usually of the form\n /2015-03-31/functions/[FunctionARN]/invocations.",
                                                        "type": "string"
                                                    },
                                                    "IdentitySource": {
                                                        "description": "<p>The identity source for which authorization is requested.</p><p>For the REQUEST authorizer, this is required when authorization\n caching is enabled. The value is a comma-separated string of one or more mapping\n expressions of the specified request parameters. For example, if an Auth\n header and a Name query string parameters are defined as identity\n sources, this value is method.request.header.Auth,\n method.request.querystring.Name. These parameters will be used to\n derive the authorization caching key and to perform runtime validation of the\n REQUEST authorizer by verifying all of the identity-related request\n parameters are present, not null, and non-empty. Only when this is true does the\n authorizer invoke the authorizer Lambda function, otherwise, it returns a 401\n Unauthorized response without calling the Lambda function. The valid value\n is a string of comma-separated mapping expressions of the specified request\n parameters. When the authorization caching is not enabled, this property is\n optional.</p>",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "IdentityValidationExpression": {
                                                        "description": "The\n validation expression does not apply to the REQUEST authorizer.",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the authorizer.",
                                                        "type": "string"
                                                    },
                                                    "ProviderArns": {
                                                        "description": "For\n REQUEST authorizer, this is not\n defined.",
                                                        "items": {
                                                            "description": "Represents an Amazon Resource Name (ARN).",
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "Name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The next page of elements from this collection. Not valid for the last element of\n the collection.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an Authorizer for an API.",
                "operationId": "CreateAuthorizer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AuthorizerCredentialsArn": {
                                            "description": "Specifies the required credentials as an IAM role for API Gateway to invoke the\n authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon\n Resource Name (ARN). To use resource-based permissions on the Lambda function,\n specify null.",
                                            "type": "string"
                                        },
                                        "AuthorizerId": {
                                            "description": "The authorizer identifier.",
                                            "type": "string"
                                        },
                                        "AuthorizerResultTtlInSeconds": {
                                            "description": "The time to live (TTL), in seconds, of cached authorizer results. If it equals 0,\n authorization caching is disabled. If it is greater than 0, API Gateway will cache\n authorizer responses. If this field is not set, the default value is 300. The maximum\n value is 3600, or 1 hour.",
                                            "maximum": 2147483647,
                                            "minimum": -2147483648,
                                            "type": "integer"
                                        },
                                        "AuthorizerType": {
                                            "description": "The authorizer type. Currently the only valid value is REQUEST, for a\n Lambda function using incoming request parameters.",
                                            "enum": [
                                                "REQUEST"
                                            ],
                                            "type": "string"
                                        },
                                        "AuthorizerUri": {
                                            "description": "The authorizer's Uniform Resource Identifier (URI).\n ForREQUEST authorizers, this must be a\n well-formed Lambda function URI, for example,\n arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations.\n In general, the URI has this form:\n arn:aws:apigateway:{region}:lambda:path/{service_api}\n , where {region} is the same as the region hosting the Lambda\n function, path indicates that the remaining substring in the URI should be treated as\n the path to the resource, including the initial /. For Lambda functions,\n this is usually of the form\n /2015-03-31/functions/[FunctionARN]/invocations.",
                                            "type": "string"
                                        },
                                        "IdentitySource": {
                                            "description": "<p>The identity source for which authorization is requested.</p><p>For the REQUEST authorizer, this is required when authorization\n caching is enabled. The value is a comma-separated string of one or more mapping\n expressions of the specified request parameters. For example, if an Auth\n header and a Name query string parameters are defined as identity\n sources, this value is method.request.header.Auth,\n method.request.querystring.Name. These parameters will be used to\n derive the authorization caching key and to perform runtime validation of the\n REQUEST authorizer by verifying all of the identity-related request\n parameters are present, not null, and non-empty. Only when this is true does the\n authorizer invoke the authorizer Lambda function, otherwise, it returns a 401\n Unauthorized response without calling the Lambda function. The valid value\n is a string of comma-separated mapping expressions of the specified request\n parameters. When the authorization caching is not enabled, this property is\n optional.</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "IdentityValidationExpression": {
                                            "description": "The\n validation expression does not apply to the REQUEST authorizer.",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the authorizer.",
                                            "type": "string"
                                        },
                                        "ProviderArns": {
                                            "description": "For\n REQUEST authorizer, this is not\n defined.",
                                            "items": {
                                                "description": "Represents an Amazon Resource Name (ARN).",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AuthorizerCredentialsArn": {
                                        "description": "Specifies the required credentials as an IAM role for API Gateway to invoke the\n authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon\n Resource Name (ARN). To use resource-based permissions on the Lambda function,\n specify null.",
                                        "type": "string"
                                    },
                                    "AuthorizerResultTtlInSeconds": {
                                        "description": "The time to live (TTL), in seconds, of cached authorizer results. If it equals 0,\n authorization caching is disabled. If it is greater than 0, API Gateway will cache\n authorizer responses. If this field is not set, the default value is 300. The maximum\n value is 3600, or 1 hour.",
                                        "maximum": 2147483647,
                                        "minimum": -2147483648,
                                        "type": "integer"
                                    },
                                    "AuthorizerType": {
                                        "description": "The authorizer type. Currently the only valid value is REQUEST, for a\n Lambda function using incoming request parameters.",
                                        "enum": [
                                            "REQUEST"
                                        ],
                                        "type": "string"
                                    },
                                    "AuthorizerUri": {
                                        "description": "The authorizer's Uniform Resource Identifier (URI). For\n REQUEST authorizers, this must be a\n well-formed Lambda function URI, for example,\n arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations.\n In general, the URI has this form:\n arn:aws:apigateway:{region}:lambda:path/{service_api}\n , where {region} is the same as the region hosting the Lambda\n function, path indicates that the remaining substring in the URI should be treated as\n the path to the resource, including the initial /. For Lambda functions,\n this is usually of the form\n /2015-03-31/functions/[FunctionARN]/invocations.",
                                        "type": "string"
                                    },
                                    "IdentitySource": {
                                        "description": "<p>The identity source for which authorization is requested.</p><p>For the REQUEST authorizer, this is required when authorization\n caching is enabled. The value is a comma-separated string of one or more mapping\n expressions of the specified request parameters. For example, if an Auth\n header and a Name query string parameters are defined as identity\n sources, this value is method.request.header.Auth,\n method.request.querystring.Name. These parameters will be used to\n derive the authorization caching key and to perform runtime validation of the\n REQUEST authorizer by verifying all of the identity-related request\n parameters are present, not null, and non-empty. Only when this is true does the\n authorizer invoke the authorizer Lambda function, otherwise, it returns a 401\n Unauthorized response without calling the Lambda function. The valid value\n is a string of comma-separated mapping expressions of the specified request\n parameters. When the authorization caching is not enabled, this property is\n optional.</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "IdentityValidationExpression": {
                                        "description": "The\n validation expression does not apply to the REQUEST authorizer.",
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "The name of the authorizer.",
                                        "type": "string"
                                    },
                                    "ProviderArns": {
                                        "description": "For\n REQUEST authorizer, this is not\n defined.",
                                        "items": {
                                            "description": "Represents an Amazon Resource Name (ARN).",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "AuthorizerUri",
                                    "AuthorizerType",
                                    "IdentitySource",
                                    "Name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v2/apis/{apiId}/authorizers/{authorizerId}": {
            "delete": {
                "description": "Deletes an Authorizer.",
                "operationId": "DeleteAuthorizer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "authorizerId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Gets an Authorizer.",
                "operationId": "GetAuthorizer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "authorizerId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AuthorizerCredentialsArn": {
                                            "description": "Specifies the required credentials as an IAM role for API Gateway to invoke the\n authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon\n Resource Name (ARN). To use resource-based permissions on the Lambda function,\n specify null.",
                                            "type": "string"
                                        },
                                        "AuthorizerId": {
                                            "description": "The authorizer identifier.",
                                            "type": "string"
                                        },
                                        "AuthorizerResultTtlInSeconds": {
                                            "description": "The time to live (TTL), in seconds, of cached authorizer results. If it equals 0,\n authorization caching is disabled. If it is greater than 0, API Gateway will cache\n authorizer responses. If this field is not set, the default value is 300. The maximum\n value is 3600, or 1 hour.",
                                            "maximum": 2147483647,
                                            "minimum": -2147483648,
                                            "type": "integer"
                                        },
                                        "AuthorizerType": {
                                            "description": "The authorizer type. Currently the only valid value is REQUEST, for a\n Lambda function using incoming request parameters.",
                                            "enum": [
                                                "REQUEST"
                                            ],
                                            "type": "string"
                                        },
                                        "AuthorizerUri": {
                                            "description": "The authorizer's Uniform Resource Identifier (URI).\n ForREQUEST authorizers, this must be a\n well-formed Lambda function URI, for example,\n arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations.\n In general, the URI has this form:\n arn:aws:apigateway:{region}:lambda:path/{service_api}\n , where {region} is the same as the region hosting the Lambda\n function, path indicates that the remaining substring in the URI should be treated as\n the path to the resource, including the initial /. For Lambda functions,\n this is usually of the form\n /2015-03-31/functions/[FunctionARN]/invocations.",
                                            "type": "string"
                                        },
                                        "IdentitySource": {
                                            "description": "<p>The identity source for which authorization is requested.</p><p>For the REQUEST authorizer, this is required when authorization\n caching is enabled. The value is a comma-separated string of one or more mapping\n expressions of the specified request parameters. For example, if an Auth\n header and a Name query string parameters are defined as identity\n sources, this value is method.request.header.Auth,\n method.request.querystring.Name. These parameters will be used to\n derive the authorization caching key and to perform runtime validation of the\n REQUEST authorizer by verifying all of the identity-related request\n parameters are present, not null, and non-empty. Only when this is true does the\n authorizer invoke the authorizer Lambda function, otherwise, it returns a 401\n Unauthorized response without calling the Lambda function. The valid value\n is a string of comma-separated mapping expressions of the specified request\n parameters. When the authorization caching is not enabled, this property is\n optional.</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "IdentityValidationExpression": {
                                            "description": "The\n validation expression does not apply to the REQUEST authorizer.",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the authorizer.",
                                            "type": "string"
                                        },
                                        "ProviderArns": {
                                            "description": "For\n REQUEST authorizer, this is not\n defined.",
                                            "items": {
                                                "description": "Represents an Amazon Resource Name (ARN).",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates an Authorizer.",
                "operationId": "UpdateAuthorizer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "authorizerId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AuthorizerCredentialsArn": {
                                            "description": "Specifies the required credentials as an IAM role for API Gateway to invoke the\n authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon\n Resource Name (ARN). To use resource-based permissions on the Lambda function,\n specify null.",
                                            "type": "string"
                                        },
                                        "AuthorizerId": {
                                            "description": "The authorizer identifier.",
                                            "type": "string"
                                        },
                                        "AuthorizerResultTtlInSeconds": {
                                            "description": "The time to live (TTL), in seconds, of cached authorizer results. If it equals 0,\n authorization caching is disabled. If it is greater than 0, API Gateway will cache\n authorizer responses. If this field is not set, the default value is 300. The maximum\n value is 3600, or 1 hour.",
                                            "maximum": 2147483647,
                                            "minimum": -2147483648,
                                            "type": "integer"
                                        },
                                        "AuthorizerType": {
                                            "description": "The authorizer type. Currently the only valid value is REQUEST, for a\n Lambda function using incoming request parameters.",
                                            "enum": [
                                                "REQUEST"
                                            ],
                                            "type": "string"
                                        },
                                        "AuthorizerUri": {
                                            "description": "The authorizer's Uniform Resource Identifier (URI).\n ForREQUEST authorizers, this must be a\n well-formed Lambda function URI, for example,\n arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations.\n In general, the URI has this form:\n arn:aws:apigateway:{region}:lambda:path/{service_api}\n , where {region} is the same as the region hosting the Lambda\n function, path indicates that the remaining substring in the URI should be treated as\n the path to the resource, including the initial /. For Lambda functions,\n this is usually of the form\n /2015-03-31/functions/[FunctionARN]/invocations.",
                                            "type": "string"
                                        },
                                        "IdentitySource": {
                                            "description": "<p>The identity source for which authorization is requested.</p><p>For the REQUEST authorizer, this is required when authorization\n caching is enabled. The value is a comma-separated string of one or more mapping\n expressions of the specified request parameters. For example, if an Auth\n header and a Name query string parameters are defined as identity\n sources, this value is method.request.header.Auth,\n method.request.querystring.Name. These parameters will be used to\n derive the authorization caching key and to perform runtime validation of the\n REQUEST authorizer by verifying all of the identity-related request\n parameters are present, not null, and non-empty. Only when this is true does the\n authorizer invoke the authorizer Lambda function, otherwise, it returns a 401\n Unauthorized response without calling the Lambda function. The valid value\n is a string of comma-separated mapping expressions of the specified request\n parameters. When the authorization caching is not enabled, this property is\n optional.</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "IdentityValidationExpression": {
                                            "description": "The\n validation expression does not apply to the REQUEST authorizer.",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the authorizer.",
                                            "type": "string"
                                        },
                                        "ProviderArns": {
                                            "description": "For\n REQUEST authorizer, this is not\n defined.",
                                            "items": {
                                                "description": "Represents an Amazon Resource Name (ARN).",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AuthorizerCredentialsArn": {
                                        "description": "Specifies the required credentials as an IAM role for API Gateway to invoke the\n authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon\n Resource Name (ARN). To use resource-based permissions on the Lambda function,\n specify null.",
                                        "type": "string"
                                    },
                                    "AuthorizerResultTtlInSeconds": {
                                        "description": "The time to live (TTL), in seconds, of cached authorizer results. If it is zero,\n authorization caching is disabled. If it is greater than zero, API Gateway will cache\n authorizer responses. If this field is not set, the default value is 300. The maximum\n value is 3600, or 1 hour.",
                                        "maximum": 2147483647,
                                        "minimum": -2147483648,
                                        "type": "integer"
                                    },
                                    "AuthorizerType": {
                                        "description": "The authorizer type. Currently the only valid value is REQUEST, for a\n Lambda function using incoming request parameters.",
                                        "enum": [
                                            "REQUEST"
                                        ],
                                        "type": "string"
                                    },
                                    "AuthorizerUri": {
                                        "description": "The authorizer's Uniform Resource Identifier (URI). For\n REQUEST authorizers, this must be a\n well-formed Lambda function URI, for example,\n arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations.\n In general, the URI has this form:\n arn:aws:apigateway:{region}:lambda:path/{service_api}\n , where {region} is the same as the region hosting the Lambda\n function, path indicates that the remaining substring in the URI should be treated as\n the path to the resource, including the initial /. For Lambda functions,\n this is usually of the form\n /2015-03-31/functions/[FunctionARN]/invocations.",
                                        "type": "string"
                                    },
                                    "IdentitySource": {
                                        "description": "<p>The identity source for which authorization is requested.</p><p>For the REQUEST authorizer, this is required when authorization\n caching is enabled. The value is a comma-separated string of one or more mapping\n expressions of the specified request parameters. For example, if an Auth header, a\n Name query string parameter are defined as identity sources, this value is\n $method.request.header.Auth, $method.request.querystring.Name. These\n parameters will be used to derive the authorization caching key and to perform\n runtime validation of the REQUEST authorizer by verifying all of the\n identity-related request parameters are present, not null and non-empty. Only when\n this is true does the authorizer invoke the authorizer Lambda function, otherwise, it\n returns a 401 Unauthorized response without calling the Lambda function.\n The valid value is a string of comma-separated mapping expressions of the specified\n request parameters. When the authorization caching is not enabled, this property is\n optional.</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "IdentityValidationExpression": {
                                        "description": "The\n validation expression does not apply to the REQUEST authorizer.",
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "The name of the authorizer.",
                                        "type": "string"
                                    },
                                    "ProviderArns": {
                                        "description": "For\n REQUEST authorizer, this is not\n defined.",
                                        "items": {
                                            "description": "Represents an Amazon Resource Name (ARN).",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v2/apis/{apiId}/deployments": {
            "get": {
                "description": "Gets the Deployments for an API.",
                "operationId": "GetDeployments",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Items": {
                                            "description": "The elements from this collection.",
                                            "items": {
                                                "description": "An immutable representation of an API that can be called by users. A\n Deployment must be associated with a Stage for it to be\n callable over the internet.",
                                                "properties": {
                                                    "CreatedDate": {
                                                        "description": "The date and time when the Deployment resource was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DeploymentId": {
                                                        "description": "The identifier for the deployment.",
                                                        "type": "string"
                                                    },
                                                    "DeploymentStatus": {
                                                        "description": "The status of the deployment: PENDING, FAILED, or\n SUCCEEDED.",
                                                        "enum": [
                                                            "PENDING",
                                                            "FAILED",
                                                            "DEPLOYED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "DeploymentStatusMessage": {
                                                        "description": "May contain additional feedback on the status of an API deployment.",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "The description for the deployment.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The next page of elements from this collection. Not valid for the last element of\n the collection.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a Deployment for an API.",
                "operationId": "CreateDeployment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "CreatedDate": {
                                            "description": "The date and time when the Deployment resource was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DeploymentId": {
                                            "description": "The identifier for the deployment.",
                                            "type": "string"
                                        },
                                        "DeploymentStatus": {
                                            "description": "The status of the deployment: PENDING, FAILED, or\n SUCCEEDED.",
                                            "enum": [
                                                "PENDING",
                                                "FAILED",
                                                "DEPLOYED"
                                            ],
                                            "type": "string"
                                        },
                                        "DeploymentStatusMessage": {
                                            "description": "May contain additional feedback on the status of an API deployment.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "The description for the deployment.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Description": {
                                        "description": "The description for the deployment resource.",
                                        "type": "string"
                                    },
                                    "StageName": {
[...]
